
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  font-family: 'Nunito Sans', sans-serif;
  }

html {
  position:fixed;

}

.App {
  display:fixed;
  overflow:hidden;
  overflow:hidden;

}

body {
  background: rgb(194,233,246);
  background: linear-gradient(310deg, rgba(194,233,246,1) 0%, rgba(200,255,253,1) 40%, rgba(0,0,0,1) 84%);
  width:100vw;
  height:100vh;
  height:100vh;
  overflow:none;
  display:fixed;
}


.appTitle {
  width:60vw;
  margin:auto;
  color: antiquewhite;
  text-align:left;
  height:5vh;
  font-size: 5vh;
  position:absolute;
  left:5rem;
  top:1rem;
  overflow:none;
  overflow:none;
}

.money-icon {
  width:4rem;
  height:4rem;
  margin:auto;
  position:absolute;
  top:1vh;
  background-color:white;
}

.navContainer {
  height:14vh;
  width:100vw;
  display:fixed;
  /* position:relative; */
  /* position:relative; */
}

.navBarActive {
  position:absolute;
  width: 10rem;
  height:10rem;
  margin:auto;
  list-style:none;
  display:flex;
  justify-content:flex-end;
  align-items:top;
  transition:750ms ease-in-out;
  right:5rem;
  top:.1rem;

}

.navBarHidden {
  width:10rem;
  height:10rem;
  background-color:rgba(255,255,255,.5);
  display:flex;
  /* flex-direction: column; */
  align-items:top;
  justify-content:center;
  padding:1rem;
  position:absolute;
  right:-100vw;
  transition:750ms ease-in-out;
  overflow:none;
  top:.1rem;
}

.menuIcon {
  position:absolute;
  justify-content: center;
  align-items:center;
  display:flex;
  right:1rem;
  height:4rem;
  transition: 500ms;

}

.navButton {
  display:flex;
  width:6vw;
  height:6vh;
  text-align: center;
  position:relative;
  color:black;
  padding:1rem;
  justify-content: center;
  align-items: center;
}

.navButton:hover {
  color:white;
  text-decoration: none;
}

.navButton:visited {                            
  text-decoration: none;
  color:black;
}

/* .transactionPatchForm {
  width: 11rem;
  height:10rem;
  background-color:white;
  position:absolute;
  top:20rem;
  display:flex;
  flex-direction: column;
  padding:1rem;
} */

.addTransactionFormInput {
  position:relative;
  width:85%;
  /* margin:auto; */
  background-color: white;
}

.submitButton {
  min-width:40%;
}

.toggleMenuButton {
  color:black;
  position:absolute;
  top:8rem;
  left:16rem;
  transition:500ms;
  z-index:100;
  font-size: large;

}

.hideMenuButton {
  color:black;
  position:absolute;
  top:7rem;
  left:1rem;
  background-color:rgba(255,255,255,.5);
  transition:500ms;
  font-size: large;
  width:10rem;
  text-align:center;
  border-radius: 3rem;
  z-index:10;

}

.toggleMenuLabel {
  position:absolute;
  left:2rem;
  top:8rem;
  color:black;
  z-index:100;
  transition:700ms;
}

.hideMenuLabel {
  color:white;
  position:absolute;
  left:-50vw;
  top:5rem;
  background-color:rgba(255,255,255,.5);
  transition:500ms;

}

.transactionMenuHidden {
  width:10rem;
  height:10rem;
  background-color:rgba(255,255,255,.5);
  display:flex;
  flex-direction: column;
  align-content:center;
  justify-content:center;
  padding:1rem;
  position:absolute;
  left:-100vw;
  transition:500ms;
}

.transactionMenuActive {
  position:absolute;
  left:1rem;
  top:8rem;
  width:16rem;
  height:50vh;
  background-color:rgba(255,255,255,.7);
  display:flex;
  flex-direction: column;
  align-items: center;
  transition:500ms;
  z-index:5;
}

.transactionForm {
  /* border:5px solid black */
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  margin:auto;
  height:30vh;
}

.transactionContainer {
  display:flex; 
  position:absolute;
}


.transactions {
  background-color: white;
  box-shadow:  .5em 1em black;
  height: 80vh;
  max-width:60vw;
  min-width:60vw;
  text-align:center;
  position:relative;
  margin:auto;
  display:flex;
  flex-direction:column;
  top:2vh;
  z-index:1;
}

.assetContainer {
  display:flex;
  /* flex-direction: column; */
  width: 55vw;
  height:70vh;
  position:relative;
  flex-wrap: wrap;
  overflow:scroll;
  margin:auto;
 
}

.listOfInvestments {
  display:flex;
  justify-content: center;
  /* align-content: space-around; */
  flex-wrap: wrap;
  /* margin:auto; */
}

.investmentList {
  display:flex;
  position:relative;
  top:20rem;
  margin:auto;
}

.investmentCard {
  height:5rem;
  width:13rem;
  color:black;
  border: .2vw solid black;
  box-shadow:  .5em .5em black;
  margin:2rem;
  border-radius:.2vw;
}

.activeAssetsForm {
  z-index:5;
  background-color:lightgrey;
  width:20vw;
  height:10rem;
  position:absolute;
  top:10rem;
  left:1rem;
  display:flex;
  flex-direction:column;
  justify-content: center;
  text-align: center;
  transition:500ms ease-in-out;
}

.assetContainer {
  overflow:none;
  display:flex;
  justify-content: center;
  align-content: center;
  position:absolute;
  top:5rem;
  margin:auto;
  height:80vh;
  width:70vw;
  background-color:rgba(255,255,255,.5);
}

.showAssetsFormBtn {
  color:white;
  position:absolute;
  top:5vh;
  transition:500ms ease-in-out;

}

.hiddenAssetsForm {
  width:15rem;
  height:10rem;
  position:absolute;
  top:10rem;
  left:-100vw;
  left:-100vw;
  display:flex;
  flex-direction:column;
  justify-content: flex-end;
  text-align: center;
  transition:500ms ease-in-out;

}

.hideAddAssetBtn {
  width:1.5rem;
  height:1.5rem;
  position: absolute;
  top:10rem;;
  left:12rem;
  z-index:50;
  text-align: center;
  transition:500ms ease-in-out;

}

.showAddAssetBtn {
  background-color:rgba(255,255,255,.5);
  position:absolute;
  width:10rem;
  height:3rem;
  left:0;
  top:10rem;
  text-align:center;
  border-radius: 3rem;
}

.postInput {
  width:12rem;
  background-color:rgba(255,255,255,.5);

  background-color:rgba(255,255,255,.5);
}

.newAssetLabel {
  position:absolute;
  top:0;
  left:1.5rem;
}

.credentialContainer {
  display:flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin:auto;
  height:80vh;
  width:40vw;
  top:10vh;
  /* border:5px solid black; */
  background-color: lightgrey;
  box-shadow: 3px 9px black;
}

.signUpForm {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height:80vh;
  width:40vw;
  /* border:5px solid red; */

}

.credentialInput {
  width:100%;
  margin:2rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.accountPatchBtn {
  width:10vw;
}


.signinForm {
  display:flex;
  flex-direction:column;
  justify-content:center;
  height:60vh;
  width:40vw;
  margin:auto;
}

.signinButton {
  max-width:12vw;
  min-width:8rem;
  /* background-color: aqua; */
  /* margin:auto; */
}

/* .accountPatchButtonContainer {

} */

.userInfoBox {
  display:flex;
  flex-direction: column;
  position:relative;
  top:10vh;
  min-height:60vh;
  /* max-height:60vh; */
  max-width:60vh;
  margin:auto;
  background-color:rgba(211, 211, 211, .5);
  /* border:5px solid red; */
  overflow:scroll;
}

.accountPatchForm {
  display:flex;
  flex-direction:column;
  height:40vh;
  /* border:5px solid black; */
  justify-content: space-between;
  text-align: center;
  overflow:scroll;
}




/*




.transactionContainer {
  display:flex; 
}


.transactions {
  background-color: white;
  box-shadow:  .5em 1em black;
  height: 60vh;
  width:65vw;
  text-align:center;
  margin:auto;
  margin-top: 2.5vh;

}

.deleteBtn {
  border: solid 5px black;
}



.assetContainer {
  display:flex;

  border: 5px solid black;
  width: 75rem;
  height:100rem;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow:scroll;
  border: 5px solid white;
}

.AssetPostForm {
  width: 75vw;  
  height:10vh;
  display:flex;

}
.assetInput, .addAssetBtn, .newTransactionButton, .newTransactionInput {
  height: 5vh;
  width:10vw;
  margin-top:auto;
  margin-bottom: auto;
  position:relative;
  left:.5vw;
}



.AssetPostForm, .transactionPatchForm {
  display:flex;
  position:relative;

  width: 84.9vw;
  height:15vh;
  margin:auto;
  align-items: center;
  border-radius:.2vw;
}

.transactionLabel {
  font-size: 1.5rem;
  
}

.postInput {
  position:relative;
  left:.5vw;
  height:5vh;
  width:12vw;
  text-align:center;
  margin-right:1vw;
}

.submitButton {
  position:relative;
  left:1vw;
  height:5vh;
  width:8vw;
  text-align:center;
}

.listOfInvestments {
  display:flex;
  justify-content: space-around;

  align-content: space-around;
  flex-wrap: wrap;
}





.signinForm {
  border: solid 5px black;
  width:15vw;
  height:40vh;
  min-height:30vh;
  min-width:15vw;
  background-color: lightblue;
  margin:auto;
  box-shadow:  1em 1em black;
}

.signUpForm {
  border: solid 5px black;
  width:15vw;
  height:50vh;
  background-color: lightblue;
  align-content:center;
  margin:auto;
  box-shadow:  1em 1em black;
}

.toggleSignInLink {
  position:relative;
  top:2vh;
}

.userInfoBox {
  top:15vh;
  border: solid 1px black;
  width: 15vw;
  height:35vh;
  margin:auto;
  position: absolute;
  left: 50%;
  top:35%;
  text-align:center;
  background-color:	rgba(211,211,211, .3);
 
}


.accountInfoPatch, .accountInfo  {
  width:13vw;
  margin:2px;
  text-align:center;
}

*/