html {
  background-color: black;
  display:absolute;

}

body {
  background-color:grey;
  display:fixed;
  margin-left: 7vw;
  margin-right:7vw;
  margin-top: 5vh;
  margin-bottom:5vh;
  height:100vh;
  overflow:none;
}

.appTitle {
  background-color: lightblue;
  width:86vw;
  margin:auto;
  margin-left:3vw;
  text-align:left;
  height:5vh;
  font-size: 5vh;
}

.navContainer {
  background-color: lightblue;
  height:14vh;
  display:flex;
}

.navBar {
  width: 86vw;
  margin:auto;
  list-style:none;
  display:flex;
  justify-content:flex-end;
  align-items:top;
}

.navButton {
  border:solid 3px black;
  width:7vw;
  height:3vh;
  text-align: center;
  margin-top:auto;
  margin-bottom: auto;
  background-color:grey;
}

.navButton:hover {
  background-color: black;
  color:white;
}
.navButton:visited {
  text-decoration: none;
}

.transactionContainer {
  background-color: white;
  display:flex;
}
.transactions {
  background-color: white;
  border:solid 3px black;
  width: 75vw;
  height:50vh;
  text-align:center;
  margin:auto;
  /* margin-top: 5vh; */

  overflow:scroll;
}

.deleteBtn {
  border: solid 5px black;
}

.transactionPatchForm {
  width: 75vw;  
  height:10vh;
  display:flex;
  background-color: lightblue;
  text-align:center;
  align-items: center;
  margin:auto;
}

.newTransactionFlexContainer {

}

.assetContainer {
  display:flex;
  /* position:absolute; */
  border: 5px solid black;
  width: 75vw;
  height:70vh;
  background-color:lightblue;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow:scroll;
}

.AssetPostForm {
  /* border: 5px solid black; */
  width: 75vw;  
  height:10vh;
  display:flex;
  background-color: lightblue;
  
  
}
.assetInput, .addAssetBtn, .newTransactionButton, .newTransactionInput {
  height: 5vh;
  width:10vw;
  margin-top:auto;
  margin-bottom: auto;
  position:relative;
  left:.5vw;
}


.listOfInvestments {
  display:flex;
  justify-content: space-around;
 
  flex-wrap: wrap;
}

.investmentList {
  /* overflow:scroll; */
  display:flex;
  background-color: lightblue;
  justify-content: space-between;
  margin:auto;
  margin-top:5vh;

}

.investmentCard {
  height:25vh;
  width:15vw;
  margin:auto;
  color:black;
  border: 5px solid black;
  text-align:center;
  justify-content: space-between;
  box-shadow:  1em 1em black;
}

.credentialContainer {
  display:flex;
  justify-content: center; 
  align-items: center;
  align-content:center; 
  margin:auto;
}

.signinForm {
  border: solid 5px black;
  width:15vw;
  height:40vh;
  background-color: lightblue;
  align-content:center;
  margin:auto;
}

.signUpForm {
  border: solid 5px black;
  width:15vw;
  height:40vh;
  background-color: lightblue;
  align-content:center;
  margin:auto;
}

.userInfoBoxParent {
  margin:auto;
  
}

.userInfoBox {
  display:relative ;
  left: 50%;
  border: solid 5px black;
  width: 15vw;
  height:25vh;
  margin:auto;
  background-color:lightblue;

}

.accountInfoPatch {
  width:13vw;

}