
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  font-family: 'Nunito Sans', sans-serif;
  }

html {
  display:fixed;
}

.app {
  display:fixed;
}

body {
  background: rgb(194,233,246);
  background: linear-gradient(310deg, rgba(194,233,246,1) 0%, rgba(200,255,253,1) 40%, rgba(0,0,0,1) 84%);
  width:100vw;
  height:100vh;
  overflow:scroll;
  display:fixed;
}

.appTitle {
  width:86vw;
  margin:auto;
  color: antiquewhite;
  text-align:left;
  height:5vh;
  font-size: 5vh;
}

.navContainer {
  height:14vh;
  display:flex;
}

.money-icon {
  width:4vw;
  height:8vh;
  margin:auto;
  position:relative;
  top:1vh;
  background-color:white;
}

.navBarActive {
  position:relative;
  width: 40rem;
  margin:auto;
  list-style:none;
  display:flex;
  justify-content:flex-end;
  align-items:top;
  transition: 350ms;
  border:solid red;
  right:5rem;

}

.navBarHidden {
  /* width: 86vw; */
  position:relative;
  right:-100vw;
  margin:auto;
  list-style:none;
  display:flex;
  justify-content:flex-end;
  align-items:top;
  transition: 350ms;
}

.menuIcon {
  position:absolute;
  justify-content: center;
  align-items:center;
  display:flex;
  right:1rem;
  /* background-color:white; */
  height:4rem;
  /* width:4rem; */
  /* margin:auto; */
  transition: 500ms;

}

.navButton {
  display:flex;
  width:6vw;
  height:6vh;
  text-align: center;
  position:relative;
  color:black;
  padding:1rem;
  justify-content: center;
  align-items: center;
}

.navButton:hover {
  /* background-color: black; */
  color:white;
  text-decoration: none;
}

.navButton:visited {
  text-decoration: none;
  color:black;
}

.transactionContainer {
  /* background-color: white; */
  display:flex; 
}


.transactions {
  background-color: white;
  /* border:solid 3px black; */
  box-shadow:  .5em 1em black;
  height: 60vh;
  width:65vw;
  text-align:center;
  margin:auto;
  margin-top: 2.5vh;

}

.deleteBtn {
  border: solid 5px black;
}

.transactionPatchForm {
  width: 25vw;
  height:50vh;
  display:flex;
  border:5px solid white;
}

.assetContainer {
  display:flex;
  /* position:absolute; */
  border: 5px solid black;
  width: 75rem;
  height:100rem;
  /* background-color:lightblue; */
  justify-content: space-around;
  flex-wrap: wrap;
  overflow:scroll;
  border: 5px solid white;
}

.AssetPostForm {
  /* border: 5px solid black; */
  width: 75vw;  
  height:10vh;
  display:flex;
  /* background-color: lightblue; */

}
.assetInput, .addAssetBtn, .newTransactionButton, .newTransactionInput {
  height: 5vh;
  width:10vw;
  margin-top:auto;
  margin-bottom: auto;
  position:relative;
  left:.5vw;
}

.assetContainer {
  display:flex;
  width: 55rem;
  height:70rem;
  background-color: rgba(194, 233, 246,.5);
  justify-content: space-around;
  flex-wrap: wrap;
  overflow:scroll;
  margin:auto;
}

.AssetPostForm, .transactionPatchForm {
  display:flex;
  position:relative;
  /* border: 5px black solid; */
  /* background-color: lightblue; */
  width: 84.9vw;
  height:15vh;
  margin:auto;
  align-items: center;
  border-radius:.2vw;
}

.transactionLabel {
  font-size: 1.5rem;
  
}

.postInput {
  position:relative;
  left:.5vw;
  height:5vh;
  width:12vw;
  text-align:center;
  margin-right:1vw;
  /* border:5px solid black; */
}

.submitButton {
  position:relative;
  left:1vw;
  height:5vh;
  width:8vw;
  text-align:center;
}

.listOfInvestments {
  display:flex;
  justify-content: space-around;

  align-content: space-around;
  flex-wrap: wrap;
}

.investmentCard {
  height:15vh;
  width:15vw;
  color:black;
  border: .2vw solid black;
  box-shadow:  .5em .5em black;
  margin-top: 8vh;
  border-radius:.2vw;
}

.credentialContainer {
  display:flex;
  position: relative;
  top:20vh;
  margin:auto;
  width:15vw;
  height:40vh;
  background-color: lightblue;
}

.signinForm {
  border: solid 5px black;
  width:15vw;
  height:40vh;
  min-height:30vh;
  min-width:15vw;
  background-color: lightblue;
  margin:auto;
  box-shadow:  1em 1em black;
}

.signUpForm {
  border: solid 5px black;
  width:15vw;
  height:50vh;
  background-color: lightblue;
  align-content:center;
  margin:auto;
  box-shadow:  1em 1em black;
}

.toggleSignInLink {
  position:relative;
  top:2vh;
}

.userInfoBox {
  /* position:relative; */
  top:15vh;
  border: solid 1px black;
  width: 15vw;
  height:35vh;
  margin:auto;
  position: absolute;
  left: 50%;
  top:35%;
  text-align:center;
  background-color:	rgba(211,211,211, .3);
 
}


.accountInfoPatch, .accountInfo  {
  width:13vw;
  margin:2px;
  text-align:center;
}

